body{
    ol, ul{
        list-style: none;
    }

    img{
        display: block;
    }

    a{
        text-decoration: none;
        display: block;
    }
}

// *{
//     outline: 2px solid white;
// }

