.index-bg{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 880px; 
  @include pc{
    height: auto;
  }
}

.circle_png{
  width: 196px;
  height: 196px;
}

.banner-side{
  max-width: 100%;
  object-fit: cover;

}



.banner-center{
  max-width: 96%;
  object-fit: cover;

}

.banner-name{
  position: absolute;
  top: 0;
}

.brand-name{
  letter-spacing: 3.5rem;
}


// page-2
.page-2-bg{
  background-image:  url("../images/carousel_background.png");
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);	
	top: 0;	
	bottom: 0;	
	right: 0;	
	left: 0;	

}

.page-2-center-img{
  background-image:  url("../images/carousel_background.png");
  height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-bar{
  height: 40px;
  @include gradient-x(rgba(112, 0, 255, 1), rgba(17, 0, 45, 1));

}

.purple-bar-2{
  height: 40px;
  @include gradient-x(rgba(112, 0, 255, 1), rgba(17, 0, 45, 1))
}

// 助教
.fs-md-32 {
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.fs-m {
  font-size: 128px;
}

.fs-md-l {
  @media (min-width: 768px) {
    font-size: 400px;
  }
}


.mb-md-20 {
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.mb-md-80 {
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}

// 助教
.card {
  background-color: #000 !important ;
  background-blend-mode: darken;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito.png?raw=true);
  background-size: cover;
  background-position: center;
  transition: all 1s;
  @media (min-width: 768px) {
    padding: 24px 40px 56px;
  }
  &:hover {
    background-color: rgb(255 122 127 / 0.2) !important;
  }
}

.index-carousel-con{
  background-image: url("../images/carousel_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1296px;
  height: auto;
  object-fit: cover;

}

.swiper-button-prev {
	img {	
		width: 50px;		
		height: auto;	
	}
}

.swiper-button-next {
	img {	
		max-width: 100px;		
		height: auto;	
    right: 50px
	}
}

.swiper-box {
		max-width: 70%; //設置內容寬度		
		margin: 0 auto;		
		position: relative;		
		& [class^="swiper-button-"]::after {		
		content: "";	
	}
}

.swiper-container {
		margin: 0 auto;		
		position: relative;		
		overflow: hidden;		
		list-style: none;		
		padding: 0;		
		z-index: 1;
}
.swiper-box .swiper-container {
		position: unset;		
		margin: 0 110px; //設置箭頭與內容圖片相對位置
}