.index-bg{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 880px; 
  @include pc{
    height: auto;
  }
}

.circle_png{
  width: 196px;
  height: 196px;
}

.banner-side{
  max-width: 100%;
  object-fit: cover;

}



.banner-center{
  max-width: 96%;
  object-fit: cover;

}

.banner-name{
  position: absolute;
  // transform: translate(50%, -700%)
  top: 0;


}

.brand-name{
  letter-spacing: 3.5rem;
}

.test{
  letter-spacing: inherit;
}


// page-2
.page-2-bg{
  background-image:  url("../images/carousel_background.png");
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}

.page-2-center-img{
  background-image:  url("../images/carousel_background.png");
  height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.purple-bar{
  height: 40px;
  @include gradient-x(rgba(112, 0, 255, 1), rgba(17, 0, 45, 1));
}


body {
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

.font-Shrikhand {
  font-family: 'Shrikhand', cursive;
}

.font-Saira {
  font-family: 'Saira Extra Condensed', sans-serif;
}

.fs-24 {
  font-size: 24px;
}

.fs-md-32 {
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.fs-m {
  font-size: 128px;
}

.fs-md-l {
  @media (min-width: 768px) {
    font-size: 400px;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-md-20 {
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.mb-md-80 {
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.card {
  padding: 24px 12px;
  background-color: #000;
  background-blend-mode: darken;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito.png?raw=true);
  background-size: cover;
  background-position: center;
  transition: all 1s;
  @media (min-width: 768px) {
    padding: 24px 40px 56px;
  }
  &:hover {
    background-color: rgb(255 122 127 / 0.2);
  }
}


